@font-face {
  font-family: 'NanumGothicCoding';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothicCoding/NanumGothicCoding.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothicCoding/NanumGothicCoding.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothicCoding/NanumGothicCoding.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumGothicCoding';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothicCoding/NanumGothicCoding-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothicCoding/NanumGothicCoding-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGothicCoding/NanumGothicCoding-Bold.ttf') format('truetype');
}